# <%= packageName %> Test Results

> **Started**: <%= date.toUTCString(); %>

<center>
<%_ const passedSuitesColour = numPassedTestSuites > 0 ? "green" : "lightgrey" _%>
<%_ const passedTestsColour = numPassedTests > 0 ? "green" : "lightgrey" _%>
<%_ const failedSuitesColour = numFailedTestSuites > 0 ? "red" : "lightgrey" _%>
<%_ const failedTestsColour = numFailedTests > 0 ? "red" : "lightgrey" _%>
<%_ const pendingSuitesColour = numPendingTestSuites > 0 ? "orange" : "lightgrey" _%>
<%_ const pendingTestsColour = numPendingTests > 0 ? "orange" : "lightgrey" _%>

|Suites (<%= numTotalTestSuites %>)|Tests (<%= numTotalTests %>)|
|:-:|:-:|
|![](https://img.shields.io/badge/Passed-<%= numPassedTestSuites %>-<%= passedSuitesColour %>) | ![](https://img.shields.io/badge/Passed-<%= numPassedTests %>-<%= passedTestsColour %>)|
|![](https://img.shields.io/badge/Failed-<%= numFailedTestSuites %>-<%= failedSuitesColour %>) | ![](https://img.shields.io/badge/Failed-<%= numFailedTests %>-<%= failedTestsColour %>)|
|![](https://img.shields.io/badge/Pending-<%= numPendingTestSuites %>-<%= pendingSuitesColour %>) | ![](https://img.shields.io/badge/Pending-<%= numPendingTests %>-<%= pendingTestsColour %>)|

---

<%_ for(var i=0; i < testResults.length; i++) { _%>
    <%_ const result = testResults[i]; _%>
<table>
<thead>
<tr>
<th><%= result.testFilePath.replace(/^.*[\\\/]/, '') %></th>
<th></th>
<th></th>
<th><%= result.perfStats.runtime / 1000 %></th>
</tr>
</thead>
<tbody>
<%_ for(var j=0; j < result.testResults.length; j++) { _%>
    <%_ const test = result.testResults[j]; _%>
    <%_ const fixture = test.ancestorTitles.join(' / '); _%>
    <%_ const colour = test.status === 'passed' ? 'lightgreen' : test.status === 'failed' ? 'pink' : 'lightyellow' _%>
<tr style="background-color: <%= colour %>; color: black">
<td><strong><%= fixture %></strong></td>
<td><i><%= test.title %></i></td>
<td><%= test.status %></td>
<td><%= test.duration / 1000 %></td>
</tr>
<%_ } _%>
</tbody>
</table>
<%_ } _%>
</center>